@charset "UTF-8";
table.type09 {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	width: 34%;
	text-align-last: center;
	margin-left: 33%;
}

table.type09 thead th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #369;
	border-bottom: 3px solid #036;
}

table.type09 tbody th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #0e0e0e;
	background: #f3f6f7;
	color: #369;
}

table.type09 td {
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #1a1f29;
}

h2 {
	text-align: -webkit-center;
	margin-top: 83px;
	font-size: xxx-large;
	color: #104390;
}

p.write {
	margin-left: 77%;
}

tr.name {
	border-top: 2px solid;
}

tr.pw {
	border-bottom: 2px solid;
}

.button {
	text-align: center;
}

input[type="submit"] {
	   font-size: medium;
	background-color: #38448a;
	color: white;
}

input[type="reset"] {
	   font-size: medium;
	background-color: #38448a;
	color: white;
}

.look {
	   font-size: medium;
	background-color: #38448a;
	color: white;
}

input[type="file"] {
	text-align-last: left;
	margin-left: 17px;
}
.file_input_textbox{float:left}

.file_input_div{position:relative;width:100px;height:23px;overflow:hidden;}

.file_input_button{width:100px;position:absolute; top:0px; background-color:#5d69ab; color:#fff; border-style:solid;}

.file_input_hidden{font-size:45px; position:absolute; right:0px; top:0px; opacity:0; 

filter:alpha(opacity=0); 

-ms-filter:"alpha(opacity=0)"; 

-khtml-opacity:0; 

-moz-opacity:0;}